.cart-card {
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.cart-img{
    border: 3px solid var(--font);
}
.wishlist-btn{
    font-weight: 700;
}
.outline-btn,
.increase-quantity,
.decrease-quantity {
  border: 1px solid var(--font);
}

.increase-quantity,
.decrease-quantity {
  color: var(--font);
}

.wishlist-btn {
  border: 2px solid var(--font);
  font-family: "Roboto", sans-serif;
}

button[disabled] {
  cursor: default;
}
