.search{
    border: 1px solid var(--gray);
    outline: none;
    height: 2rem;
    padding: 0 1rem;
    width: 10rem;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}
.mbr-vw{
    display: none;
}

a{
    color: black;
}

.login-btn{
    padding: 0.8rem 2rem;
    width: 50%;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color: var(--font);
    border: 0;
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}

.badge{
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--font);
    transform: translate(-5px, -12px);
    padding: 0.2rem 0.3rem;
    
    font-size: 0.87rem;
    font-family: "Roboto", sans-serif;
}


@media screen and (max-width: 750px) {
    .mbr-vw{
        display: inline-flex;
        width: 70vw;
    }
    
}